<!DOCTYPE html>
<html>

<head>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js">
    </script>
</head>

<body>
<form class="form-inline" method="POST" action="{{ url_for('index') }}">
    <p>Race: {{chose_race}}</p>
    <select name="race_select">
        {% for race in races %}
        <option>{{race.Name}}</option>
        {% endfor %}
    </select>
    <p>Class: {{chose_class}}</p>
    <select name="class_select">
        {% for class in clases %}
        <option>{{class.Name}}</option>
        {% endfor %}
    </select>



    <button type="submit" class="btn">Apply</button>
</form>


<form class="form-inline" method="POST" action="{{ url_for('download', race=chose_race, clas=chose_class) }}">
    <button type="submit" class="btn">Save file</button>
</form>


</body>

</html>